
@{
    ViewData["Title"] = "Home Admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <ul class="nav justify-content-center">
        <li class="nav-item m-2">
            <a class="nav-link btn btn-primary text-white" href="/Home">Home UTC2</a>
        </li>
        <li class="nav-item m-2">
            <a class="nav-link btn btn-danger text-white" href="/Website">Quản Lý Website</a>
        </li>
        <li class="nav-item m-2">
            <a class="nav-link btn btn-success text-white" href="/news/newslist">Quản Lý Tin Tức</a>
        </li>
        <li class="nav-item m-2">
            <a class="nav-link btn btn-warning text-white" href="/NewsCategory/newsCategorylist">Quản Lý Danh Mục</a>
        </li>
    </ul>
</div>

@section scripts{
    <script>
        document.querySelector('.homeAdmin').classList.add('active');
    </script>
}
