
@{
    ViewData["Title"] = "Home Admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Home Admin</h1>

@section scripts{
    <script>
        document.querySelector('.homeAdmin').classList.add('active');
    </script>
}
