
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h1 class="h3 mb-2 text-gray-800">Thêm Tin Mới</h1>
    <form id="FormCreateNews" action="~/Admin/News/Create" method="post">
        <div class="mb-3">
            <label for="InputName" class="form-label">Tiêu Đề</label>
            <input type="text" class="form-control" id="InputName" name="name">
        </div>
        <div class="mb-3">
            <label for="InputDescription" class="form-label">Mô Tả</label>
            <input type="text" class="form-control" id="InputDescription" name="description">
        </div>
        <div class="mb-3">
            <label for="InputCategory" class="form-label">Thể Loại</label>
            <input type="number" class="form-control" id="InputCategory" name="newsCategoryId">
        </div>
        <div class="mb-3">
            <label for="InputMetaUrl" class="form-label">URL</label>
            <input type="text" class="form-control" id="InputMetaUrl" name="metaUrl">
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>

@section Scripts {
    <script>
        Active(".collapse-News", ".collapse-News__create");
    </script>    
}