
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h1 class="h3 mb-2 text-gray-800">Thêm Tin Mới</h1>
    <form id="FormCreateNews" action="~/Admin/News/Create" method="post">
        <div class="mb-3">
            <label for="InputName" class="form-label">Tiêu Đề</label>
            <input type="text" class="form-control" id="InputName" name="name">
        </div>
        <div class="mb-3">
            <label for="InputDescription" class="form-label">Mô Tả</label>
            <input type="text" class="form-control" id="InputDescription" name="description">
        </div>
        <div class="mb-3">
            <label for="InputCategory" class="form-label">Thể Loại</label>
            <input type="number" class="form-control" id="InputCategory" name="newsCategoryId">
        </div>
        <div class="mb-3">
            <label for="InputMetaUrl" class="form-label">URL</label>
            <input type="text" class="form-control" id="InputMetaUrl" name="metaUrl">
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>

@section Scripts {
    @* <script>
        function CreateNews(data) {
            var url = 'https://api-intern-test.h2aits.com/News/Create';
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(responseData => {
                    console.log('Response Data:', responseData);
                    console.log('from Data:', data);
                    //document.getElementById('linkNewsList').click();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
        function SubmitCreate() {
            var formCreate = document.getElementById('FormCreateNews');
            var name = formCreate.querySelector('input[name="name"]').value;
            var description = formCreate.querySelector('input[name="description"]').value;
            var newsCategoryId = formCreate.querySelector('input[name="newsCategoryId"]').value;
            var metaUrl = formCreate.querySelector('input[name="metaUrl"]').value;

            var formData = {
                name: name,
                description: description,
                newsCategoryId: newsCategoryId,
                publishedAt: new Date().toISOString(),
                metaUrl: metaUrl,
                status: 1
            }

            var newData = {
                name: "Hello World News",
                description: "This is a sample news created via Fetch API.",
                newsCategoryId: 1, 
                publishedAt: "2023-12-10T12:34:55",
                metaUrl: "/hello-world-news",
                status: 1
            };

            //formCreate.reset();
            CreateNews(newData);
        } *@
    </script>    
}