
@{
    ViewData["Title"] = "NewsList";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Danh Sách Tin Tức</h1>
    <a href="~/Admin/News/Create" class="btn btn-success">Thêm Tin Tức Mới</a>
    <p class="mb-4"></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">UTC2 Tin Tức & Thông Báo</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="NewsTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>description</th>
                            <th>Category</th>
                            <th>viewNumber</th>
                            <th>publishedAt</th>
                            <th>isHot</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>description</th>
                            <th>Category</th>
                            <th>viewNumber</th>
                            <th>publishedAt</th>
                            <th>isHot</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>Donna Snider</td>
                            <td>Customer Support</td>
                            <td>New York</td>
                            <td>27</td>
                            <td>2011/01/25</td>
                            <td>$112,000</td>
                            <td><div><a href="" class="btn btn-warning">Sửa</a><a href="" class="btn btn-danger">Xóa</a></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts
{    
    <script>
        GetAPINewsList();
        function GetAPINewsList(){
            var url = 'https://api-intern-test.h2aits.com/News/GetListByStatus?status=1';
            fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
                .then(response => response.json())
                .then(object => {
                    $(document).ready(function () {
                        $('#NewsTable').DataTable({
                            data: object.data,
                            columns: [
                                { data: 'id' },
                                { 
                                    data: 'name',
                                    render: function (data, type, row) {
                                        return '<p class="limit-tag-p"><a class="text-decoration-none" href="/Admin/News/Detail/' + row.id + '">' + data + '</a></p>';
                                    }
                                },
                                { 
                                    data: 'description',
                                    render: function (data, type, row) {
                                        return '<p class="limit-tag-p">' + data + '</p>';
                                    }
                                },
                                { data: 'newsCategoryObj.name' },
                                { data: 'viewNumber' },
                                { data: 'publishedAt' },
                                { data: 'isHot' },
                                {
                                    data: null,
                                    render: function (data, type, row) {
                                        return '<div><a href="/Admin/News/Edit/' + data.id + '"class="btn btn-warning mb-2">Sửa</a><a href="/Admin/News/Delete/' + data.id + '" class="btn btn-danger">Xóa</a></div>';
                                    }
                                }
                            ]
                        });
                    });

                    // var html = '';
                    // object.data.forEach(element => {
                    //     html += `
                    //                     <tr>
                    //                         <td><p>${element.id}</p></td>
                    //                         <td><p>${element.name}</p></td>
                    //                         <td><p>${element.description}</p></td>
                    //                         <td>${element.newsCategoryObj.name}</td>
                    //                         <td>${element.viewNumber}</td>
                    //                         <td>${element.publishedAt}</td>
                    //                         <td>${element.isHot}</td>
                    //                                         <td><div><a href="/Admin/News/Edit/${element.id}" class="btn btn-warning">Sửa</a><a href="/Admin/News/Delete/${element.id}" class="btn btn-danger">Xóa</a></div></td>
                    //                     </tr>
                    //             `;
                    // });

                    // // innerHTML
                    // document.getElementById('DataNews').innerHTML = html;
                })
                .catch(error => {
                    console.error('Error:', error);
                })
                .finally(() => {
                    
                });
        }

        
        Active(".collapse-News", ".collapse-News__list");
    </script>
}